/002.REST_JAVA_CONUNI_GR01/01. SERVIDOR/ConversionUnidades_REST_Java_Servidor_GR01/nbproject/private/
/002.REST_JAVA_CONUNI_GR01/01. SERVIDOR/ConversionUnidades_REST_Java_Servidor_GR01/build/
/002.REST_JAVA_CONUNI_GR01/01. SERVIDOR/ConversionUnidades_REST_Java_Servidor_GR01/dist/
/002.REST_DOTNET_CONUNI_GR01/01. SERVIDOR/REST_DOTNET_CONUNI_SERVIDOR_GR01/.vs
/002.REST_JAVA_CONUNI_GR01/02. CLIWEB/REST_JAVA_CONUNI_CLIWEB_GR01/nbproject/private/
/002.REST_JAVA_CONUNI_GR01/02. CLIWEB/REST_JAVA_CONUNI_CLIWEB_GR01/build/
/002.REST_JAVA_CONUNI_GR01/02. CLIWEB/REST_JAVA_CONUNI_CLIWEB_GR01/dist/
